# Local Netlify folder
.netlify

# Node / JS
node_modules/

# Astro build artifacts
terramation-astro/.astro/
terramation-astro/dist/

# Environment variables
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
