---
const year = new Date().getFullYear();
---

<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="site-footer__grid">

      <!-- Brand -->
      <div>
        <img
          src="/images/2023/03/Terramation-UK-768x71.png"
          alt="Terramation UK"
          class="site-footer__brand-logo"
          width="180"
          height="17"
        />
        <p class="site-footer__tagline">
          Championing human composting and sustainable end-of-life choices in the United Kingdom.
          Our Close&nbsp;the&nbsp;Circle campaign is working to make terramation legal for everyone.
        </p>
      </div>

      <!-- Pages -->
      <div>
        <h4>Pages</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/2023/03/21/what-is-terramation/">What is Terramation?</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>

      <!-- Campaign -->
      <div>
        <h4>Close the Circle</h4>
        <ul>
          <li><a href="/contact/">Join the campaign</a></li>
          <li><a href="/blog/">Latest news</a></li>
          <li><a href="/privacy-policy/">Privacy policy</a></li>
          <li><a href="mailto:info@terramation.uk">info@terramation.uk</a></li>
        </ul>
      </div>

    </div>

    <div class="site-footer__bottom">
      <p class="site-footer__copy">
        &copy; {year} Terramation UK. All rights reserved.
      </p>
      <p class="site-footer__copy">
        Human composting &amp; natural end-of-life education.
      </p>
    </div>
  </div>
</footer>
